node/function/function.json
[{"id":"449f9e29.0b06","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"945412ad.5c67d","type":"inject","z":"449f9e29.0b06","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":60,"wires":[["2904da98.6e2de6"]]},{"id":"2904da98.6e2de6","type":"function","z":"449f9e29.0b06","name":"","func":"var ts = msg.payload;\nvar date = new Date(ts);   \nvar strDate = date.toString();\nmsg.payload = strDate;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":60,"wires":[["b78d7164.23dc6"]]},{"id":"b78d7164.23dc6","type":"debug","z":"449f9e29.0b06","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":60,"wires":[]}]