node/function/switch.json
[{"id":"449f9e29.0b06","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"526ae8b8.077978","type":"switch","z":"449f9e29.0b06","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":140,"wires":[["42872ec0.ab6c6"],["37616875.aa1da8"],["7ead7578.ef2a6c"],["d3227b0.f0bf288"]]},{"id":"42872ec0.ab6c6","type":"debug","z":"449f9e29.0b06","name":"timestamp%4 == 0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":60,"wires":[]},{"id":"37616875.aa1da8","type":"debug","z":"449f9e29.0b06","name":"timestamp%4 == 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":100,"wires":[]},{"id":"7ead7578.ef2a6c","type":"debug","z":"449f9e29.0b06","name":"timestamp%4 == 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":140,"wires":[]},{"id":"945412ad.5c67d","type":"inject","z":"449f9e29.0b06","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":60,"wires":[["2904da98.6e2de6"]]},{"id":"2904da98.6e2de6","type":"function","z":"449f9e29.0b06","name":"","func":"var ts = msg.payload;\nvar res = ts % 4;\nmsg.payload = res;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":140,"y":140,"wires":[["526ae8b8.077978"]]},{"id":"d3227b0.f0bf288","type":"debug","z":"449f9e29.0b06","name":"timestamp%4 == 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":180,"wires":[]}]