node/common/.link-in-out.json.backup
[{"id":"87a6addc.2ccd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6eaf31b2.6b4f6","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"950dae8c.e5ac9","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8d10b563.9283a8","type":"inject","z":"87a6addc.2ccd8","name":"Hello World in Flow1","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hello World  in Flow1","payloadType":"str","x":170,"y":100,"wires":[["17cb0ace.5ffad5"]]},{"id":"17cb0ace.5ffad5","type":"link out","z":"87a6addc.2ccd8","name":"","links":["4ad29593.b88f9c"],"x":345,"y":100,"wires":[]},{"id":"4ad29593.b88f9c","type":"link in","z":"6eaf31b2.6b4f6","name":"Link In 1","links":["17cb0ace.5ffad5"],"x":155,"y":120,"wires":[["8676e944.9047a8"]]},{"id":"8676e944.9047a8","type":"debug","z":"6eaf31b2.6b4f6","name":"Debug(Hello world) in Flow2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":120,"wires":[]}]