node/common/catch.json
[{"id":"87a6addc.2ccd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8df4adb6.21de9","type":"catch","z":"87a6addc.2ccd8","name":"","scope":["4b6931eb.ddb2c"],"uncaught":false,"x":130,"y":200,"wires":[["1dfca.13e8b036f"]]},{"id":"1dfca.13e8b036f","type":"debug","z":"87a6addc.2ccd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":360,"y":200,"wires":[]},{"id":"3f11917e.b9e75e","type":"inject","z":"87a6addc.2ccd8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":100,"wires":[["4b6931eb.ddb2c"]]},{"id":"4b6931eb.ddb2c","type":"function","z":"87a6addc.2ccd8","name":"Test-Function","func":"\nvar msg1 = { payload: \"1\" };\nvar msg2 = { payload: \"2\" };\nvar msg3 = { payload: \"3\" };\n\nreturn [msg1, msg2, msg4];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":100,"wires":[[]]},{"id":"58ec965.0671f68","type":"debug","z":"87a6addc.2ccd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":100,"wires":[]}]