node/common/complete.json
[{"id":"e5e2378c.bf2f58","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"61d71230.6c536c","type":"complete","z":"e5e2378c.bf2f58","name":"Complete Node (Test-Function)","scope":["da5d3e20.d5f57"],"uncaught":false,"x":170,"y":180,"wires":[["d5c8ea4f.c54c58"]]},{"id":"d5c8ea4f.c54c58","type":"debug","z":"e5e2378c.bf2f58","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":180,"wires":[]},{"id":"7b1f91e4.a7118","type":"inject","z":"e5e2378c.bf2f58","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":100,"wires":[["da5d3e20.d5f57"]]},{"id":"da5d3e20.d5f57","type":"function","z":"e5e2378c.bf2f58","name":"Test-Function","func":"msg.payload=\"This msg is generated by Test-Function-Node\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":100,"wires":[[]]},{"id":"6d7dfd99.108794","type":"debug","z":"e5e2378c.bf2f58","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":100,"wires":[]}]