node/common/status.json
[{"id":"87a6addc.2ccd8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"950dae8c.e5ac9","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"23ed541.b9a50ac","type":"status","z":"87a6addc.2ccd8","name":"","scope":["a258aa11.7255d8"],"x":100,"y":160,"wires":[["a11a764c.20baf8"]]},{"id":"a11a764c.20baf8","type":"debug","z":"87a6addc.2ccd8","name":"Debug(Status)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":340,"y":160,"wires":[]},{"id":"a258aa11.7255d8","type":"mqtt in","z":"87a6addc.2ccd8","name":"Mqtt-In","topic":"Test","qos":"2","datatype":"auto","broker":"950dae8c.e5ac9","x":90,"y":60,"wires":[["b27c9213.9d908"]]},{"id":"b27c9213.9d908","type":"debug","z":"87a6addc.2ccd8","name":"Debug(Mqtt-IN)","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":60,"wires":[]}]