Pallette-Node/Common-Inject.js
[{"id":"449d50af.80448","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"26466687.bee35a","type":"inject","z":"449d50af.80448","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"MyID","payloadType":"flow","x":160,"y":120,"wires":[["56c6a06.01d1d6"]]},{"id":"56c6a06.01d1d6","type":"debug","z":"449d50af.80448","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":120,"wires":[]},{"id":"ce03fb5b.814258","type":"function","z":"449d50af.80448","name":"","func":"flow.set(\"MyID\", 1);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":60,"wires":[[]]},{"id":"a05c58a9.1d3f08","type":"inject","z":"449d50af.80448","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":60,"wires":[["ce03fb5b.814258"]]}]